<launch>
  <arg name="model_name" default="rexrov2" />
  <arg name="uuv_name" default="$(arg model_name)"/>
  

  <!-- Flag to start recoding a rosbag  -->
    <arg name="record" default="false" doc="Record ROS bag"/>
    
    <arg name="gui_on" default="true" doc="Start Gazebo client and RViz"/>
    <arg name="use_ned_frame" default="false" doc="If true, the reference frame is set to be NED (North-East-Down) instead of Gazebo's default ENU (East-North-Up)"/>

    <arg name="teleop_on" default="false" doc="Start joystick teleop node"/>
    <arg name="joy_id" default="0" doc="ID of the joystick device"/>
    <arg name="axis_yaw" default="0" doc="Joystick mapping for yaw angle input"/>
    <arg name="axis_x" default="4" doc="Joystick mapping for X component of velocity reference input"/>
    <arg name="axis_y" default="3" doc="Joystick mapping for Y component of velocity reference input"/>
    <arg name="axis_z" default="1" doc="Joystick mapping for Z component of velocity reference input"/>

  <include file="$(find rexrov2_control)/launch/start_thruster_manager.launch">
    <arg name="uuv_name" value="$(arg uuv_name)" />
    <arg name="model_name" value="$(arg model_name)" />
  </include>

  <group ns="$(arg uuv_name)">
    <rosparam file="$(find rexrov2_control)/config/inertial.yaml" command="load"/>
    <rosparam file="$(find rexrov2_control)/config/vel_pid_control.yaml" command="load"/>

    <node pkg="uuv_control_cascaded_pid" type="AccelerationControl.py" name="acceleration_control"
          output="screen">
      <param name="tf_prefix" type="string" value="$(arg uuv_name)/" />
    </node>

    <node pkg="uuv_control_cascaded_pid" type="VelocityControl.py" name="velocity_control"
        output="screen">
      <remap from="odom" to="/$(arg uuv_name)/pose_gt"/>
      <remap from="cmd_accel" to="/$(arg uuv_name)/cmd_accel"/>
    </node>
  </group>
    <!-- Initialize the recording fo the simulation according to the record flag  -->
    <include file="$(find rexrov2_control)/launch/record_demo.launch">
      <arg name="record" value="$(arg record)"/>
      <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
      <arg name="uuv_name" value="$(arg uuv_name)"/>
    </include>

    <group if="$(arg teleop_on)">
      <!-- Start joystick teleop node  -->
      <include file="$(find uuv_teleop)/launch/uuv_teleop.launch">
          <arg name="uuv_name" value="$(arg uuv_name)"/>
          <arg name="joy_id" value="$(arg joy_id)"/>
          <arg name="output_topic" value="cmd_vel"/>
          <arg name="message_type" value="twist"/>
          <arg name="axis_yaw" value="$(arg axis_yaw)"/>
          <arg name="axis_x" value="$(arg axis_x)"/>
          <arg name="axis_y" value="$(arg axis_y)"/>
          <arg name="axis_z" value="$(arg axis_z)"/>
          <arg name="gain_yaw" default="0.2"/>
          <arg name="gain_x" default="0.5"/>
          <arg name="gain_y" default="0.5"/>
          <arg name="gain_z" default="0.5"/>
      </include>
    </group>

    <group if="$(arg gui_on)">
      <!-- Start RViz  -->
      <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find rexrov2_control)/rviz/rexrov2_control.rviz"/>
    </group>
</launch>
